<!DOCTYPE html>
<html>
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/lib/bootstrap-calendar/css/calendar.css" />
</head>
<body>
<script th:inline="javascript">
/*<![CDATA[*/
	window.test2 = /*[[${test2}]]*/'test2';
/*]]>*/	
</script>
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="/lib/ng-file-upload/angular-file-upload-shim.js"></script>	
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular-animate/angular-animate.js"></script>
<script src="/lib/ng-file-upload/angular-file-upload.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/lib/angular-resource/angular-resource.min.js"></script>
<script src="/lib/angular-ui-sortable/sortable.min.js"></script>
<p th:text="${test}">Hello Spring Boot!</p>
<p th:text="${test2}"> what the hell</p>
asdfasdfsadf
</body>
</html>